body {
  background-image: url(wallpaper.jpg);
  margin: 0;
  font-family: oxanium;
}

.container {
  padding: 1rem;
}

.draggable {
  margin: auto;
  padding: 0.8rem;
  border-radius: 10px;
  width: 50%;
  cursor: move;
}

.draggable:last-child{
  margin-bottom: 15em;
}

.draggable.dragging {
  opacity: .5;
}

figure {
    margin: 0;
}

audio{
  width: 100%;
}

h1{
 text-align: center;
  color: #333;
  font-size: 3rem;
  padding: 0
}

figcaption{
  color: #333;
  font-size: 1.5em;
}

